:root {
  --var1: #2563eb;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  padding-top: 5rem;
}
html{
  scroll-behavior: smooth;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  background-color: var(--var1);
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  border-bottom-left-radius: 2rem;
  color: white;
  z-index: 999;
}
header h1 {
  font-size: 1.7rem;
  margin-left: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
nav a {
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
  font-weight: 300;
}
.moblie-icon {
  display: none;
  padding-right: 20px;
}
.moblie-menu {
  position: absolute;
  right: 0;
  top: 60px;
  padding: 10px 10px 10px 10px;
  font-size: 20px;
  transition: all linear 0.5s;
  transform: translateX(100%);
  height: fit-content;
  width: 70%;
  height: 100vh;
  background-color: var(--var1);
}
.moblie-menu_ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
  gap: 20px;
}

.show {
  display: none;
}
.home {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
.home-intro {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 25vw;
  justify-content: center;
}
.home-intro p {
  color: grey;
  font-size: 1.4rem;
}
.home-img {
 
   
  height: 50vh;
  width: 50%;
}
.home-img img {
  height: 50vh;
  width: 50%;
  object-fit: contain;
}
.button1 {
  background-color: var(--var1);
  padding: 1rem 1rem;
  margin-top: 1rem;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  transition: all 300ms linear;
  width: 120px;
}
.button1:hover,.button2:hover {
  cursor: pointer;
  transform: translateY(-4px);
}
footer{
    width: 100%;
    height: 6rem;
    background-color: var(--var1);
    border-top-right-radius:2rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    padding-top: 1rem;

  }
  .social{
    color: white;
    transform: scale(1.5);
    font-weight: bolder;
  }
  .social-link{
    font-size: 2rem;
    display: flex;
    gap: 2rem;
    color: white;
  }
  a{
    color: white;
    text-decoration: none;
  }

  .section1{
    display: flex;
    justify-content: center;
    align-items: center;
  gap: 50px;
  }
  .image1 {
    height: 30rem;
    width: 35rem;
    
    object-fit: contain;
  }
  .skill-set {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10rem;
  }
  .gird1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .skills {
    margin: 2rem 2rem;
    padding: 0 1rem;
    height: 6.5rem;
    width: 6.5rem;
    border: 4px solid var(--var1);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .intro {
    padding-left: 10vw;
  }
  .intro p,
  .blog p {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    color: gray;
  }
  .button2{
  background-color: var(--var1);
  padding: 1rem 1rem;
  margin-top: 1rem;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  transition: all 300ms linear;
  }
  .section2{
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 40px;
  }
  .section3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
  }
  .blog {
    padding-right: 10vw;
  }
  .section2 p{
  width: 350px;}
@media screen and (max-width: 900px) {
  html {
    font-size: 75%;
  }
  header {
    padding: 0 0 0 0.5rem;
  }
  .moblie-icon {
    display: block;
  }
  .menu {
    display: none;
  }
  .home{
   margin: auto;
  }
  .home-intro{
    width: 50%;
    padding-left: 10vw;
  }
  .home-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .section1{
    flex-direction: column;
  }
  .skill-set{
    margin: 0;
 
  }
  .section2{
    flex-direction: column-reverse;
  }
  .blog-img{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .blog-img img{
    width: 90%;
  }
  .section3{
    flex-direction: column;
    padding: 0 0 30px 0;
    gap: 10px;
  }
}
